tmux/plugins
lvim
lazygit
menus
tmux/plugins
nvim_vscode
tmux/plugins
nvim/pack
nvim/lazy-lock.json
github-copilot
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
glab-cli
go
nextjs-nodejs
nvim/pack
nvim/after
